#questionArea {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px 5px 0 0;
  margin: 10px 10px 2px;
}

.questions div {
  display: inline-block;
}

.question-body * {
  font-size: 20px;
}

.gadwal-question .op {
  color: #265daf;
}

.question-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 25px;
}

.gadwal-question .question-body span {
  padding: 20px;
}

.question-body img {
  max-height: 150px;
}

.pagging {
  margin-top: 26px;
  text-align: center;
  padding-left: 10px;
}

.pagging .btn {
  margin: 0px 2px;
}

#txtCurrentPage {
  width: 70px;
  text-align: center;
  margin: 0px 5px 0px;
  display: inline-block;
}

.question-options {
  text-align: center;
}

.question-options .option {
  border-radius: 5px;
  color: white;
  background-color: #4a8cd7;
  padding: 10px;
  margin: 10px;
  height: 45px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}

.question-options.vertical .option {
  display: block;
}

.question-options.circles .option {
  border-radius: 50%;
  width: 45px;
}

.question-options .option:hover {
  background-color: #0061cf;
}

.question-options.disabled .option {
  background-color: gray !important;
  cursor: default;
}

.question-options .option.image-text {
  display: block;
  text-align: right;
}

.question-options .option.image-text img {
  width: 50px;
  max-height: 50px;
  margin: 0 10px;
}

#answer {
  display: inline-block;
}

.correct-answer {
  color: limegreen;
}

.wrong-answer {
  color: #ff0037 !important;
}

.score {
  font-size: x-large;
  color: red;
  border: 1px solid gray;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  margin: auto;
}

.score.passed {
  color: limegreen;
}

.score.failed {
  color: red;
}

/*FeedBack*/
#feedBack {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: xx-large;
  z-index: 9999;
}

#feedBack.correct-answer {
  color: green;
}

#feedBack.wrong-answer {
  color: #ff0037;
}

#feedBack img {
  max-height: 100px;
  margin: 20px;
}

.feedback-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.7;
}
/*---------*/

.quiz-result {
  float: initial;
  margin: auto;
}

.quiz-top-page-number {
  margin-bottom: -10px;
}

.quiz-top-page-number input {
  border: none;
}

#quizOptions {
  width: 100%;
  max-width: 700px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
}

#quizOptions table {
  width: 100%;
}

#quizOptions td {
  padding: 10px;
}

.questions-number {
  width: 75px;
  margin: 0px 4px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.question .number {
  letter-spacing: 20px;
  font-family: arial;
}

.question #answer {
  display: block;
}
.gadwal-question #answer {
  display: inline-block;
}

.question #answer.not-answered {
  padding-right: 10px;
}

.free-height {
  height: initial !important;
}

.english-text {
  direction: ltr;
}

.english-text {
  font-family: initial;
}

.capital {
  text-transform: capitalize;
}

.english-word.audio {
  max-height: 24px;
  cursor: pointer;
}

.question-options.time-question {
  direction: ltr;
}

.missing-character {
  padding: 5px;
}
@media (max-width: 375px) {
  #quizOptions {
    padding: 0px;
  }
  .question-options .option {
    margin: 5px;
  }
}
